.LoginPage {
    background-image: url('../assets/images/Login-BG-3.svg');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    height: 100vh;
}

.LoginMain {
    padding: 0px 30px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.LoginHeader{
    font-size: 46px;
    font-weight: 600;
    color: var(--white-text);
}

.LoginContent{
    font-size: 30px;
    font-weight: 400;
    color: var(--white-text);
}

.JoinButton{
    background-color: black;
}

.LoginImage {
    width: -webkit-fill-available;
}